torch                       
numpy                       
onnx                        
onnxruntime                 
onnxscript                  
pygame                      
matplotlib                  
streamlit
IPython                   